<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Template1">
<head>
  <title>Votre Banque</title>
  <meta charset="utf-8">
<!--   <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</head>
<body>

<div layout:fragment="content">
<div class="container">
	<div class="col-md-6 col-md-offset-1">
		 <div class="panel panel-primary">
      <div class="panel-heading">Probléme d'authorisation</div>
      <div class="panel-body" style="color: red">
      	vous n'avez pas le droit d'accéder á cette Ressource
      </div>
    	</div>
		</div>
		</div>


</div>

</body>
</html>
